@mixin svg-common {
	background: url("../images/sprite/sprite-76fff35d.svg") no-repeat;
}

@mixin svg-icon-add-inner-app {
	@include svg-common;
	background-position: 38.70967741935484% 42.622950819672134%;
	width: 22px;
	height: 23px;
}

@mixin svg-icon-add-new-zip {
	@include svg-common;
	background-position: 71.32352941176471% 85.18518518518519%;
	width: 10px;
	height: 10px;
}

@mixin svg-icon-add-out-app {
	@include svg-common;
	background-position: 61.29032258064516% 18.852459016393443%;
	width: 22px;
	height: 23px;
}

@mixin svg-icon-add-step-state {
	@include svg-common;
	background-position: 73.13432835820896% 29.921259842519685%;
	width: 12px;
	height: 18px;
}

@mixin svg-icon-arrow-down-mini {
	@include svg-common;
	background-position: 38.80597014925373% 33.093525179856115%;
	width: 12px;
	height: 6px;
}

@mixin svg-icon-automatic-dialing {
	@include svg-common;
	background-position: 0 0;
	width: 27px;
	height: 25px;
}

@mixin svg-icon-automatic-dialing-active {
	@include svg-common;
	background-position: 87.78625954198473% 36.36363636363637%;
	width: 15px;
	height: 13px;
}

@mixin svg-icon-bin-blue {
	@include svg-common;
	background-position: 56.48854961832061% 74.4186046511628%;
	width: 15px;
	height: 16px;
}

@mixin svg-icon-calendar {
	@include svg-common;
	background-position: 21.21212121212121% 100%;
	width: 14px;
	height: 14px;
}

@mixin svg-icon-checkbox-ok {
	@include svg-common;
	background-position: 100% 73.64341085271317%;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-close-mini {
	@include svg-common;
	background-position: 78.67647058823529% 85.18518518518519%;
	width: 10px;
	height: 10px;
}

@mixin svg-icon-close-popup {
	@include svg-common;
	background-position: 87.78625954198473% 46.92307692307692%;
	width: 15px;
	height: 15px;
}

@mixin svg-icon-contracts {
	@include svg-common;
	background-position: 19.672131147540984% 42.622950819672134%;
	width: 24px;
	height: 23px;
}

@mixin svg-icon-delete {
	@include svg-common;
	background-position: 56.934306569343065% 96.32352941176471%;
	width: 9px;
	height: 9px;
}

@mixin svg-icon-delete-app {
	@include svg-common;
	background-position: 22.131147540983605% 18.333333333333332%;
	width: 24px;
	height: 25px;
}

@mixin svg-icon-delete-zip {
	@include svg-common;
	background-position: 87.78625954198473% 0;
	width: 15px;
	height: 16px;
}

@mixin svg-icon-edit-app {
	@include svg-common;
	background-position: 61.29032258064516% 0;
	width: 22px;
	height: 23px;
}

@mixin svg-icon-edit-zip {
	@include svg-common;
	background-position: 12.213740458015268% 88.46153846153847%;
	width: 15px;
	height: 15px;
}

@mixin svg-icon-equal {
	@include svg-common;
	background-position: 86.02941176470588% 83.94160583941606%;
	width: 10px;
	height: 8px;
}

@mixin svg-icon-files {
	@include svg-common;
	background-position: 42.622950819672134% 18.852459016393443%;
	width: 24px;
	height: 23px;
}

@mixin svg-icon-files-doc {
	@include svg-common;
	background-position: 75.96899224806202% 58.267716535433074%;
	width: 17px;
	height: 18px;
}

@mixin svg-icon-green-plus {
	@include svg-common;
	background-position: 50% 97.03703703703704%;
	width: 10px;
	height: 10px;
}

@mixin svg-icon-guide-zip {
	@include svg-common;
	background-position: 41.791044776119406% 100%;
	width: 12px;
	height: 14px;
}

@mixin svg-icon-heart-plus {
	@include svg-common;
	background-position: 60.317460317460316% 44.18604651162791%;
	width: 20px;
	height: 16px;
}

@mixin svg-icon-history-all-app {
	@include svg-common;
	background-position: 42.622950819672134% 0;
	width: 24px;
	height: 23px;
}

@mixin svg-icon-history-call {
	@include svg-common;
	background-position: 13.492063492063492% 60.483870967741936%;
	width: 20px;
	height: 21px;
}

@mixin svg-icon-history-change {
	@include svg-common;
	background-position: 75.96899224806202% 0;
	width: 17px;
	height: 20px;
}

@mixin svg-icon-history-step-state {
	@include svg-common;
	background-position: 61.29032258064516% 34.32835820895522%;
	width: 22px;
	height: 11px;
}

@mixin svg-icon-id-obj {
	@include svg-common;
	background-position: 0 42.622950819672134%;
	width: 24px;
	height: 23px;
}

@mixin svg-icon-ke {
	@include svg-common;
	background-position: 0 21.1864406779661%;
	width: 27px;
	height: 27px;
}

@mixin svg-icon-mess-files {
	@include svg-common;
	background-position: 75.96899224806202% 44.09448818897638%;
	width: 17px;
	height: 18px;
}

@mixin svg-icon-mess-flag {
	@include svg-common;
	background-position: 54.074074074074076% 87.12121212121212%;
	width: 11px;
	height: 13px;
}

@mixin svg-icon-mess-plus-blue {
	@include svg-common;
	background-position: 44.696969696969695% 87.12121212121212%;
	width: 14px;
	height: 13px;
}

@mixin svg-icon-mess-plus-green {
	@include svg-common;
	background-position: 34.09090909090909% 87.12121212121212%;
	width: 14px;
	height: 13px;
}

@mixin svg-icon-mess-plus-red {
	@include svg-common;
	background-position: 63.1578947368421% 87.12121212121212%;
	width: 13px;
	height: 13px;
}

@mixin svg-icon-mess-ring {
	@include svg-common;
	background-position: 87.78625954198473% 58.01526717557252%;
	width: 15px;
	height: 14px;
}

@mixin svg-icon-mess-submit {
	@include svg-common;
	background-position: 22.31404958677686% 0;
	width: 25px;
	height: 22px;
}

@mixin svg-icon-messenger {
	@include svg-common;
	background-position: 44.881889763779526% 58.13953488372093%;
	width: 19px;
	height: 16px;
}

@mixin svg-icon-moves-ke {
	@include svg-common;
	background-position: 10.606060606060606% 100%;
	width: 14px;
	height: 14px;
}

@mixin svg-icon-new-app {
	@include svg-common;
	background-position: 0 76.19047619047619%;
	width: 19px;
	height: 19px;
}

@mixin svg-icon-open-files {
	@include svg-common;
	background-position: 23.484848484848484% 88.46153846153847%;
	width: 14px;
	height: 15px;
}

@mixin svg-icon-phone-call {
	@include svg-common;
	background-position: 0 60.483870967741936%;
	width: 17px;
	height: 21px;
}

@mixin svg-icon-phone-client {
	@include svg-common;
	background-position: 0 89.14728682170542%;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-print-app {
	@include svg-common;
	background-position: 14.84375% 76.19047619047619%;
	width: 18px;
	height: 19px;
}

@mixin svg-icon-refresh-gradient {
	@include svg-common;
	background-position: 31.818181818181817% 100%;
	width: 14px;
	height: 14px;
}

@mixin svg-icon-repeat-app {
	@include svg-common;
	background-position: 29.365079365079364% 59.523809523809526%;
	width: 20px;
	height: 19px;
}

@mixin svg-icon-state-phone {
	@include svg-common;
	background-position: 75.96899224806202% 15.748031496062993%;
	width: 17px;
	height: 18px;
}

@mixin svg-icon-summ {
	@include svg-common;
	background-position: 77.20588235294117% 73.2824427480916%;
	width: 10px;
	height: 14px;
}

@mixin svg-icon-table-arrow-down-red {
	@include svg-common;
	background-position: 100% 37.2093023255814%;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-table-arrow-up {
	@include svg-common;
	background-position: 100% 12.4031007751938%;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-table-arrow-up-blue {
	@include svg-common;
	background-position: 100% 0;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-table-arrow-up-green {
	@include svg-common;
	background-position: 68.46153846153847% 74.4186046511628%;
	width: 16px;
	height: 16px;
}

@mixin svg-icon-table-att-red {
	@include svg-common;
	background-position: 99.23664122137404% 49.6124031007752%;
	width: 15px;
	height: 16px;
}

@mixin svg-icon-table-att-yellow {
	@include svg-common;
	background-position: 87.78625954198473% 24.8062015503876%;
	width: 15px;
	height: 16px;
}

@mixin svg-icon-table-dots {
	@include svg-common;
	background-position: 100% 24.06015037593985%;
	width: 4px;
	height: 12px;
}

@mixin svg-icon-table-heart {
	@include svg-common;
	background-position: 58.91472868217054% 57.69230769230769%;
	width: 17px;
	height: 15px;
}

@mixin svg-icon-table-info {
	@include svg-common;
	background-position: 97.01492537313433% 24.8062015503876%;
	width: 12px;
	height: 16px;
}

@mixin svg-icon-table-ok-green {
	@include svg-common;
	background-position: 0 100%;
	width: 14px;
	height: 14px;
}

@mixin svg-icon-table-play {
	@include svg-common;
	background-position: 92.02898550724638% 83.94160583941606%;
	width: 8px;
	height: 8px;
}

@mixin svg-icon-table-speaker {
	@include svg-common;
	background-position: 85.82089552238806% 77.77777777777777%;
	width: 12px;
	height: 10px;
}

@mixin svg-icon-table-stop {
	@include svg-common;
	background-position: 87.12121212121212% 69.23076923076923%;
	width: 14px;
	height: 15px;
}

@mixin svg-icon-table-time {
	@include svg-common;
	background-position: 86.46616541353383% 12.4031007751938%;
	width: 13px;
	height: 16px;
}

@mixin svg-icon-tree {
	@include svg-common;
	background-position: 29.133858267716537% 75.59055118110236%;
	width: 19px;
	height: 18px;
}

@mixin svg-icon-update-arrows {
	@include svg-common;
	background-position: 100% 61.53846153846154%;
	width: 16px;
	height: 15px;
}

@mixin svg-icon-works {
	@include svg-common;
	background-position: 43.75% 75.59055118110236%;
	width: 18px;
	height: 18px;
}

