.button {
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;

}

.button--control {
  border: solid 1px rgba(127, 127, 127, 0.28);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.button--turquoise {
  color: $turquoise-blue;
}

.button--dark-pink {
  color: $dark-pink;
}

.button--blue {
  background-color: $deep-sky-blue;
  color: $white;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.button--cool-blue {
  color: $cool-blue;
}

.button--light-blue {
  color: $greyish-brown;
  background-color: $very-light-blue;
}

.button--max {
  width: 232px;
}

.button--min {
  width: 146px;
}

.button--xmin {
  width: 76px;
}

.button--middle {
  width: 182px;
}